<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org//dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.practice.mapper.BoardMapper">

<select id="exist" resultType="string">
	SELECT WRITER FROM BOARD WHERE BNO = #{bno}
</select>

<select id="getTotal" resultType="Integer">
	SELECT COUNT(BNO) FROM BOARD WHERE DIV = #{div}
</select>

<select id="getListWithPaging" resultType="org.practice.domain.BoardVO">
	<![CDATA[
		SELECT B.TITLE, B.WRITER, B.REGDATE, B.BNO, B.DIV, B.HIT, B.CNT
		FROM (
    		SELECT /*+INDEX_DESC(BOARD BOARD_PK)*/ BOARD.*, ROWNUM RN FROM BOARD
    		WHERE DIV = #{div} AND 
    		ROWNUM <= #{p.page} * #{p.amount} 
    	) B
		WHERE RN > (#{p.page} - 1) * #{p.amount};
	]]>
</select>

<select id="getList" resultType="org.practice.domain.BoardVO">
	<![CDATA[
		SELECT B.TITLE, B.WRITER, B.REGDATE, B.BNO, B.DIV, B.HIT, B.CNT
		FROM (
    		SELECT /*+INDEX_DESC(BOARD BOARD_PK)*/ BOARD.*, ROWNUM RN FROM BOARD
    		WHERE DIV = #{div} AND 
    		ROWNUM <= #{page} * #{amount} 
    	) B
		WHERE RN > (#{page} - 1) * #{amount};
	]]>
</select>

<select id="next_bno" resultType="string">
	<![CDATA[
	SELECT * FROM (
		SELECT BNO FROM BOARD WHERE DIV = #{div} AND BNO > #{bno} ORDER BY BNO
	) WHERE ROWNUM <= 1
	]]>
</select>

<select id="prev_bno" resultType="string">
	<![CDATA[
	SELECT * FROM (
		SELECT BNO FROM BOARD WHERE DIV = #{div} AND BNO < #{bno} ORDER BY BNO DESC
	) WHERE ROWNUM <= 1
	]]>
</select>

<insert id="write">
	INSERT INTO BOARD(BNO, TITLE, CONTENT, WRITER, DIV)
	VALUES(BNO_SEQ.NEXTVAL, #{title}, #{content}, #{writer}, #{div})
</insert>

<delete id="remove">
	DELETE BOARD WHERE BNO = #{bno}
</delete>

<resultMap type="org.practice.domain.BoardVO" id="boardMap">
	<id property="bno" column="BNO"/>
	<result property="bno" column="BNO"/>
	<result property="title" column="TITLE"/>
	<result property="content" column="CONTENT"/>
	<result property="writer" column="WRITER"/>
	<result property="regDate" column="REGDATE"/>
	<result property="updateDate" column="UPDATEDATE"/>
	<result property="div" column="DIV"/>
	<result property="hit" column="HIT"/>
	<collection column="fileList" property="fileList" resultMap="fileMap">
	</collection>
</resultMap>

<resultMap type="org.practice.domain.FileVO" id="fileMap" >
	<result property="fileName" column="FILENAME"/>
	<result property="uuid" column="UUID"/>
</resultMap>

<select id="get" resultMap="boardMap">
	SELECT B.BNO, TITLE, CONTENT, WRITER, REGDATE, UPDATEDATE, DIV, HIT, FILENAME, UUID 
	FROM BOARD B 
	LEFT OUTER JOIN FILES F ON B.BNO = F.BNO 
	WHERE B.BNO = #{bno}
</select>



<update id="update">
	UPDATE BOARD SET
	TITLE = #{title}, CONTENT = #{content}, UPDATEDATE = SYSDATE
	WHERE BNO = #{bno} 
</update>

<update id="hit">
	UPDATE BOARD SET HIT = HIT + 1 WHERE BNO = #{bno}
</update>

<update id="hit_minus">
	UPDATE BOARD SET HIT = HIT - 1 WHERE BNO = #{bno}
</update>

<update id="updateCnt">
	UPDATE BOARD SET CNT = CNT + #{amount} WHERE BNO = #{bno}
</update>
</mapper>