<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org//dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.practice.mapper.ReplyMapper">

<select id="get" resultType="org.practice.domain.ReplyVO">
	SELECT * FROM REPLY WHERE RNO = #{rno}
</select>

<select id="list" resultType="org.practice.domain.ReplyVO">
	SELECT /*+INDEX_DESC(REPLY REPLY_PK)*/* FROM REPLY WHERE BNO = #{bno}
</select>

<insert id="write">
	INSERT INTO REPLY(BNO, CONTENT, WRITER)
		   VALUES(#{bno}, #{content}, #{writer})
</insert>
<insert id="write_r">
	INSERT INTO REPLY(BNO, CONTENT, WRITER, R_RNO)
		   VALUES(#{bno}, #{content}, #{writer}, #{r_rno})
</insert>

<update id="update">
	UPDATE REPLY SET
	CONTENT = #{content}, UPDATEDATE = SYSDATE
	WHERE RNO = #{rno}
</update>

<delete id="remove">
	DELETE REPLY WHERE RNO = #{rno}
</delete>

</mapper>